
<!-- Footer start -->
<footer id="footer" class="footer{% if this.page.title != 'Home' %} mt-5 {% endif %}">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 footer-widget">
                <h3 class="widget-title">Why Choose Us</h3>
                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="far fa-address-card"></i></span>
                    <div class="feature-content">
                        <h3>At Your Service</h3>
                        <p>We're constantly looking for ways to make your holiday as perfect as possible</p>
                    </div>
                </div><!--/ End 1st block -->

                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="fas fa-user-friends"></i></span>
                    <div class="feature-content">
                        <h3>Efficient And Friendly</h3>
                        <p>Our expert team takes pride in their thoughtful approach to planning your holiday.</p>
                    </div>
                </div><!--/ End 1st block -->

                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="fas fa-phone"></i></span>
                    <div class="feature-content">
                        <h3>Unparalleled Support</h3>
                        <p>Things can go wrong, it's how we deal with these situations which really sets us apart.</p>
                    </div>
                </div><!--/ End 1st block -->

                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="fas fa-globe-asia"></i></span>
                    <div class="feature-content">
                        <h3>Local expertise</h3>
                        <p>we select only local suppliers that are friendly, reputable and have in-depth local knowledge.</p>
                    </div>
                </div><!--/ End 1st block -->

            </div><!--/ end flickr -->

            <div class="col-md-3 col-sm-12 footer-widget footer-about-us">
                <h3 class="widget-title">The Nunchi</h3>
                <p>Whatever your needs, we are here to help. If you have any questions about our packages or services, or want to customise a tour, please do not hesitate to contact us.</p>
                <h4>Address</h4>
                <p>{{addressline1}}</p>
                <p>{{addressline2}}</p>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Email:</h4>
                        <p>{{email1}}</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Phone No.</h4>
                        <p>{{mobile1}} / {{ mobile2 }} / {{ mobile3 }} </p>
                    </div>
                </div>
                <form action="#" role="form">
                    <div class="input-group subscribe">
                        <input type="email" class="form-control" placeholder="Email Address" required="">
                        <span class="input-group-addon">
                          <button class="btn" type="submit"><i class="fa fa-envelope-o"> </i></button>
                        </span>                        
                    </div>
                </form>
            </div><!--/ end about us -->

        </div><!-- Row end -->
    </div><!-- Container end -->
</footer><!-- Footer end -->


<!-- Copyright start -->
<section id="copyright" class="copyright angle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="footer-social unstyled">
                    <li>
                        <a title="Facebook" href="https://b-m.facebook.com/nunchitravels/" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a title="Twitter" href="#" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-twitter"></i></span>
                        </a>
                        <a title="Dribble" href="#" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-youtube"></i></span>
                        </a>
                        <a title="Google+" href="#" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-google-plus"></i></span>
                        </a>
                        <a title="linkedin" href="#" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a title="Pinterest" href="#" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-pinterest"></i></span>
                        </a>
                        <a title="Skype" href="#" target="_blank">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-skype"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/ Row end -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright-info">
                  © Copyright 2019 The Nunchi Travels
                </div>
            </div>
        </div><!--/ Row end -->
       <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix-top" data-original-title="" title="" style="display: none;">
            <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
        </div>
    </div><!--/ Container end -->
</section><!--/ Copyright end -->


