

<!-- Slider start -->
<section id="home" class="no-padding">	
    <div id="main-slide" class="cd-hero">
        <ul class="cd-hero-slider">
            <li class="selected from-left">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/the-nunchi.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-full-width">
                    <h2>Experience the highest level of luxury!</h2>
                    <h3>We Make Difference To Every Things Possible</h3>
                    <a href="{{'booking'}}" class="btn btn-primary solid cd-btn">Book Now</a>
                    <a href="{{'booking'}}" class="btn btn-primary white cd-btn">Explore More</a>
                </div> <!-- .cd-full-width -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/private-huts.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width">
                    <h2>Private Huts</h2>
                    <p>Relax and sleep peacefully in the private hut  surrounded by the beauty of mountains. The warm and friendly hospitality will leave you feeling truly welcomed.</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary solid">Take a Tour</a>
                </div> <!-- .cd-half-width -->

                <div class="cd-half-width cd-img-container">
                    <img src="images/bg-thumb1zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/hostel.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width cd-img-container img-right">
                    <img src="images/bg-thumb2zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Hostel</h2>
                    <p>The comfort of a home plus the advantages of a hostel, with a touch of style to make your experience even more unique and memorable!</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary white">Start</a>
                    <a href="{{'booking'}}" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                </div> <!-- .cd-half-width -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/food.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width cd-img-container img-right">
                    <img src="images/bg-thumb2zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Food</h2>
                    <p>Try authentic local food or taste local wine (chang) at our own café and restaurant (EcoRoots) in Hunder.</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary white">Start</a>
                    <a href="{{'booking'}}" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                </div> <!-- .cd-half-width -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/village-walk.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width cd-img-container img-right">
                    <img src="images/bg-thumb2zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Village Walk</h2>
                    <p>Most of these walks are short walks with a picnic facilities in  a lovely cool and pristine natural environment. Our culinary team will prepare the ultimate picnic for your next vacation at the Nunchi.</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary white">Start</a>
                    <a href="{{'booking'}}" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                </div> <!-- .cd-half-width -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/dance-music.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width cd-img-container img-right">
                    <img src="images/bg-thumb2zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Traditional Dance & Music</h2>
                    <p>Set amidst the Himalayan and Karakoram mountains, Ladakh boasts of being rich in culture, and tradition.</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary white">Start</a>
                    <a href="{{'booking'}}" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                </div> <!-- .cd-half-width -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/mini-picnic.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width cd-img-container img-right">
                    <img src="images/bg-thumb2zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Mini Picnic</h2>
                    <p>A world of unending pleasures awaits in Hunder at the Nunchi private huts and hostel.</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary white">Start</a>
                    <a href="{{'booking'}}" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                </div> <!-- .cd-half-width -->
            </li>
            <li class="">
                <div class="overlay2">
                    <img class="" src="{{'assets/images/slider-sm/experiences.jpg'|theme}}" alt="slider">
                </div>
                <div class="cd-half-width cd-img-container img-right">
                    <img src="images/bg-thumb2zzz.png" alt="">
                </div> <!-- .cd-half-width.cd-img-container -->
                <div class="cd-half-width">
                    <h2>Experiences</h2>
                    <p>No matter how you choose to spend your days, you’re  certain to go home with  many treasured  memories of your time here.</p>
                    <a href="{{'booking'}}" class="cd-btn btn btn-primary white">Start</a>
                    <a href="{{'booking'}}" class="cd-btn btn secondary btn-primary solid">Learn More</a>
                </div> <!-- .cd-half-width -->
            </li>
        </ul> <!--/ cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>
            <span class="cd-marker item-1"></span>
            <ul>
                <li class="selected"><a href="#0"><img class="" src="{{'assets/images/nunchi1.png'|theme}}" alt="slider"><br/> The Nunchi</a></li>
                <li class=""><a href="#0"><i class="fas fa-home"></i><br/> Private Huts</a></li>
                <li class=""><a href="#0"><i class="fa fa-hotel"></i><br/> Hostel</a></li>
                <li class=""><a href="#0"><i class="fas fa-utensils"></i><br/> Food</a></li>
                <li class=""><a href="#0"><i class="fas fa-walking"></i><i class="fas fa-walking"></i><br/>Village Walk</a></li>
                <li class=""><a href="#0"><i class="fas fa-music"></i></i><br/> Tradition</a></li>
                <li class=""><a href="#0"><i class="fas fa-pizza-slice"></i><br/> Mini Picnic</a></li>
                <li class=""><a href="#0"><i class="fas fa-hiking"></i><br/> Experiences</a></li>
            </ul>
        </nav> 
    </div> <!-- .cd-slider-nav -->

    </div><!--/ Main slider end -->    	
</section> <!--/ Slider end -->
