<div class="social">
	<a href="https://www.facebook.com/himalaya-trails/" target="_blank" class="social-icon facebook animate" rel="noopener"><i class="fab fa-facebook-f"></i>Facebook</a>
	<a href="https://www.twitter.com/himalaya-trails/" target="_blank" class="social-icon twitter animate" rel="noopener"><i class="fab fa-twitter"></i>Twitter</a>
	<a href="https://www.youtube.com/himalaya-trails/" target="_blank" class="social-icon youtube animate" rel="noopener"><i class="fab fa-youtube"></i>Youtube</a>
	<a href="https://www.google-plus.com/himalaya-trails/" target="_blank" class="social-icon google-plus animate" rel="noopener"><i class="fab fa-google-plus"></i>Google Plus</a>
</div>
